<!-- This file is created automaticaly by rake schema_examples -->
<div class="example d0">
Thing
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/CreativeWork/" title="Show CreativeWork markup examples">CreativeWork</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 18 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_18.html" title="Show CreativeWork snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_18.html" title="Show CreativeWork snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Article/" title="Show Article markup examples">Article</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 21 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_21.html" title="Show Article snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_21.html" title="Show Article snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Book/" title="Show Book markup examples">Book</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 11 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_11.html" title="Show Book snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_11.html" title="Show Book snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/ItemList/" title="Show ItemList markup examples">ItemList</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 14 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_14.html" title="Show ItemList snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_14.html" title="Show ItemList snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;MediaObject
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AudioObject/" title="Show AudioObject markup examples">AudioObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 5 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_5.html" title="Show AudioObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_5.html" title="Show AudioObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/ImageObject/" title="Show ImageObject markup examples">ImageObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 19 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_19.html" title="Show ImageObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_19.html" title="Show ImageObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/VideoObject/" title="Show VideoObject markup examples">VideoObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 13 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_13.html" title="Show VideoObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_13.html" title="Show VideoObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Movie/" title="Show Movie markup examples">Movie</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 15 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_15.html" title="Show Movie snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_15.html" title="Show Movie snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicPlaylist/" title="Show MusicPlaylist markup examples">MusicPlaylist</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 20 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_20.html" title="Show MusicPlaylist snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_20.html" title="Show MusicPlaylist snippet in microdata">microdata</a>)</div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicAlbum/" title="Show MusicAlbum markup examples">MusicAlbum</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 25 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_25.html" title="Show MusicAlbum snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_25.html" title="Show MusicAlbum snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicRecording/" title="Show MusicRecording markup examples">MusicRecording</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 13 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_13.html" title="Show MusicRecording snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_13.html" title="Show MusicRecording snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 20 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_20.html" title="Show MusicRecording snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_20.html" title="Show MusicRecording snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 25 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_25.html" title="Show MusicRecording snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_25.html" title="Show MusicRecording snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Recipe/" title="Show Recipe markup examples">Recipe</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 12 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_12.html" title="Show Recipe snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_12.html" title="Show Recipe snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Review/" title="Show Review markup examples">Review</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 9 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_9.html" title="Show Review snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_9.html" title="Show Review snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 11 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_11.html" title="Show Review snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_11.html" title="Show Review snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVEpisode/" title="Show TVEpisode markup examples">TVEpisode</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 24 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_24.html" title="Show TVEpisode snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_24.html" title="Show TVEpisode snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVSeason/" title="Show TVSeason markup examples">TVSeason</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 24 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_24.html" title="Show TVSeason snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_24.html" title="Show TVSeason snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVSeries/" title="Show TVSeries markup examples">TVSeries</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 24 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_24.html" title="Show TVSeries snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_24.html" title="Show TVSeries snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;WebPageElement
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Table/" title="Show Table markup examples">Table</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 16 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_16.html" title="Show Table snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_16.html" title="Show Table snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Event/" title="Show Event markup examples">Event</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 8 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_8.html" title="Show Event snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_8.html" title="Show Event snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 13 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_13.html" title="Show Event snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_13.html" title="Show Event snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;Intangible
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Offer/" title="Show Offer markup examples">Offer</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 9 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_9.html" title="Show Offer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_9.html" title="Show Offer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 10 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_10.html" title="Show Offer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_10.html" title="Show Offer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 11 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_11.html" title="Show Offer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_11.html" title="Show Offer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AggregateOffer/" title="Show AggregateOffer markup examples">AggregateOffer</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 8 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_8.html" title="Show AggregateOffer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_8.html" title="Show AggregateOffer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 10 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_10.html" title="Show AggregateOffer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_10.html" title="Show AggregateOffer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Rating/" title="Show Rating markup examples">Rating</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 9 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_9.html" title="Show Rating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_9.html" title="Show Rating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AggregateRating/" title="Show AggregateRating markup examples">AggregateRating</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 3 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_3.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_3.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 9 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_9.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_9.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 10 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_10.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_10.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 11 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_11.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_11.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 15 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_15.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_15.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;StructuredValue
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;ContactPoint
</div>
<div class="example d4">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/PostalAddress/" title="Show PostalAddress markup examples">PostalAddress</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 1 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_1.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_1.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 2 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_2.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_2.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 3 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_3.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_3.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 6 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_6.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_6.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 7 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_7.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_7.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 8 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_8.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_8.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 17 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_17.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_17.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 23 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_23.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_23.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/GeoCoordinates/" title="Show GeoCoordinates markup examples">GeoCoordinates</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 4 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_4.html" title="Show GeoCoordinates snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_4.html" title="Show GeoCoordinates snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/NutritionInformation/" title="Show NutritionInformation markup examples">NutritionInformation</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 12 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_12.html" title="Show NutritionInformation snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_12.html" title="Show NutritionInformation snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Organization/" title="Show Organization markup examples">Organization</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 6 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_6.html" title="Show Organization snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_6.html" title="Show Organization snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 7 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_7.html" title="Show Organization snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_7.html" title="Show Organization snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/EducationalOrganization/" title="Show EducationalOrganization markup examples">EducationalOrganization</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 23 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_23.html" title="Show EducationalOrganization snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_23.html" title="Show EducationalOrganization snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/LocalBusiness/" title="Show LocalBusiness markup examples">LocalBusiness</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 2 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_2.html" title="Show LocalBusiness snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_2.html" title="Show LocalBusiness snippet in microdata">microdata</a>)</div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;FoodEstablishment
</div>
<div class="example d4">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Restaurant/" title="Show Restaurant markup examples">Restaurant</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 3 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_3.html" title="Show Restaurant snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_3.html" title="Show Restaurant snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/NGO/" title="Show NGO markup examples">NGO</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 7 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_7.html" title="Show NGO snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_7.html" title="Show NGO snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not currently generated for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;PerformingGroup
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicGroup/" title="Show MusicGroup markup examples">MusicGroup</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 13 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_13.html" title="Show MusicGroup snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_13.html" title="Show MusicGroup snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 25 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_25.html" title="Show MusicGroup snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_25.html" title="Show MusicGroup snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Person/" title="Show Person markup examples">Person</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 1 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_1.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_1.html" title="Show Person snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 15 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_15.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_15.html" title="Show Person snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 23 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_23.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_23.html" title="Show Person snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 24 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_24.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_24.html" title="Show Person snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Place/" title="Show Place markup examples">Place</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 4 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_4.html" title="Show Place snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_4.html" title="Show Place snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 8 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_8.html" title="Show Place snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_8.html" title="Show Place snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/CivicStructure/" title="Show CivicStructure markup examples">CivicStructure</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 22 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_22.html" title="Show CivicStructure snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_22.html" title="Show CivicStructure snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Product/" title="Show Product markup examples">Product</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 9 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_9.html" title="Show Product snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_9.html" title="Show Product snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example 10 (<a href="/?url=<%=root%>/examples/schema.org/sdo_eg_rdfa_10.html" title="Show Product snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>/examples/schema.org/sdo_eg_md_10.html" title="Show Product snippet in microdata">microdata</a>)</div>
</div>
