<!-- This file is created automaticaly by rake schema_examples -->
<div class="example d0">
<a href="/examples/schema.org/Thing/" title="Show Thing markup examples">Thing</a>

<div class="ex">&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Thing.rdfa.html" title="Show Thing snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Thing.jsonld" title="Show Thing snippet in JSON-LD">JSON-LD</a> )<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/CreativeWork/" title="Show CreativeWork markup examples">CreativeWork</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Advanced (<a href="/?url=<%=root%>examples/schema.org/CreativeWork-Advanced.rdfa.html" title="Show CreativeWork snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/CreativeWork-Advanced.jsonld" title="Show CreativeWork snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/CreativeWork-Advanced.microdata.html" title="Show CreativeWork snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/CreativeWork.rdfa.html" title="Show CreativeWork snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/CreativeWork.jsonld" title="Show CreativeWork snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/CreativeWork.microdata.html" title="Show CreativeWork snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Article/" title="Show Article markup examples">Article</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Article.rdfa.html" title="Show Article snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Article.jsonld" title="Show Article snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Article.microdata.html" title="Show Article snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Book/" title="Show Book markup examples">Book</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Book.rdfa.html" title="Show Book snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Book.jsonld" title="Show Book snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Book.microdata.html" title="Show Book snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/DataCatalog/" title="Show DataCatalog markup examples">DataCatalog</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (  <a href="/?url=<%=root%>examples/schema.org/DataCatalog.microdata.html" title="Show DataCatalog snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Dataset/" title="Show Dataset markup examples">Dataset</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (  <a href="/?url=<%=root%>examples/schema.org/Dataset.microdata.html" title="Show Dataset snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;Episode
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVEpisode/" title="Show TVEpisode markup examples">TVEpisode</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/TVEpisode.rdfa.html" title="Show TVEpisode snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/TVEpisode.jsonld" title="Show TVEpisode snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/TVEpisode.microdata.html" title="Show TVEpisode snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/ItemList/" title="Show ItemList markup examples">ItemList</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/ItemList.rdfa.html" title="Show ItemList snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/ItemList.jsonld" title="Show ItemList snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/ItemList.microdata.html" title="Show ItemList snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MediaObject/" title="Show MediaObject markup examples">MediaObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/MediaObject.rdfa.html" title="Show MediaObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/MediaObject.jsonld" title="Show MediaObject snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/MediaObject.microdata.html" title="Show MediaObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AudioObject/" title="Show AudioObject markup examples">AudioObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/AudioObject.rdfa.html" title="Show AudioObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AudioObject.jsonld" title="Show AudioObject snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AudioObject.microdata.html" title="Show AudioObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/DataDownload/" title="Show DataDownload markup examples">DataDownload</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (  <a href="/?url=<%=root%>examples/schema.org/DataDownload.microdata.html" title="Show DataDownload snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/ImageObject/" title="Show ImageObject markup examples">ImageObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/ImageObject.rdfa.html" title="Show ImageObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/ImageObject.jsonld" title="Show ImageObject snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/ImageObject.microdata.html" title="Show ImageObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/VideoObject/" title="Show VideoObject markup examples">VideoObject</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/VideoObject.rdfa.html" title="Show VideoObject snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/VideoObject.jsonld" title="Show VideoObject snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/VideoObject.microdata.html" title="Show VideoObject snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Movie/" title="Show Movie markup examples">Movie</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Movie.rdfa.html" title="Show Movie snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Movie.jsonld" title="Show Movie snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Movie.microdata.html" title="Show Movie snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicPlaylist/" title="Show MusicPlaylist markup examples">MusicPlaylist</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/MusicPlaylist.rdfa.html" title="Show MusicPlaylist snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/MusicPlaylist.jsonld" title="Show MusicPlaylist snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/MusicPlaylist.microdata.html" title="Show MusicPlaylist snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicRecording/" title="Show MusicRecording markup examples">MusicRecording</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/MusicRecording.rdfa.html" title="Show MusicRecording snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/MusicRecording.jsonld" title="Show MusicRecording snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/MusicRecording.microdata.html" title="Show MusicRecording snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Recipe/" title="Show Recipe markup examples">Recipe</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Recipe.rdfa.html" title="Show Recipe snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Recipe.jsonld" title="Show Recipe snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Recipe.microdata.html" title="Show Recipe snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Review/" title="Show Review markup examples">Review</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Review.rdfa.html" title="Show Review snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Review.jsonld" title="Show Review snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Review.microdata.html" title="Show Review snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example2 (<a href="/?url=<%=root%>examples/schema.org/Review-Example2.rdfa.html" title="Show Review snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Review-Example2.jsonld" title="Show Review snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Review-Example2.microdata.html" title="Show Review snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;Season
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVSeason/" title="Show TVSeason markup examples">TVSeason</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/TVSeason.rdfa.html" title="Show TVSeason snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/TVSeason.jsonld" title="Show TVSeason snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/TVSeason.microdata.html" title="Show TVSeason snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;Series
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/TVSeries/" title="Show TVSeries markup examples">TVSeries</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/TVSeries.rdfa.html" title="Show TVSeries snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/TVSeries.jsonld" title="Show TVSeries snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/TVSeries.microdata.html" title="Show TVSeries snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/WebPage/" title="Show WebPage markup examples">WebPage</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/WebPage.rdfa.html" title="Show WebPage snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/WebPage.jsonld" title="Show WebPage snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/WebPage.microdata.html" title="Show WebPage snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;WebPageElement
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Table/" title="Show Table markup examples">Table</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Table.rdfa.html" title="Show Table snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Table.jsonld" title="Show Table snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Table.microdata.html" title="Show Table snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Event/" title="Show Event markup examples">Event</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Event.rdfa.html" title="Show Event snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Event.jsonld" title="Show Event snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Event.microdata.html" title="Show Event snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example2 (<a href="/?url=<%=root%>examples/schema.org/Event-Example2.rdfa.html" title="Show Event snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Event-Example2.jsonld" title="Show Event snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Event-Example2.microdata.html" title="Show Event snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/UserInteraction/" title="Show UserInteraction markup examples">UserInteraction</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/UserInteraction.rdfa.html" title="Show UserInteraction snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/UserInteraction.jsonld" title="Show UserInteraction snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/UserInteraction.microdata.html" title="Show UserInteraction snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;Intangible
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Offer/" title="Show Offer markup examples">Offer</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Offer.rdfa.html" title="Show Offer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Offer.jsonld" title="Show Offer snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Offer.microdata.html" title="Show Offer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AggregateOffer/" title="Show AggregateOffer markup examples">AggregateOffer</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/AggregateOffer.rdfa.html" title="Show AggregateOffer snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AggregateOffer.jsonld" title="Show AggregateOffer snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AggregateOffer.microdata.html" title="Show AggregateOffer snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Rating/" title="Show Rating markup examples">Rating</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Rating.rdfa.html" title="Show Rating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Rating.jsonld" title="Show Rating snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Rating.microdata.html" title="Show Rating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/AggregateRating/" title="Show AggregateRating markup examples">AggregateRating</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/AggregateRating.rdfa.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating.jsonld" title="Show AggregateRating snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating.microdata.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example2 (<a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example2.rdfa.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example2.jsonld" title="Show AggregateRating snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example2.microdata.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example3 (<a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example3.rdfa.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example3.jsonld" title="Show AggregateRating snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example3.microdata.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example4 (<a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example4.rdfa.html" title="Show AggregateRating snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example4.jsonld" title="Show AggregateRating snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/AggregateRating-Example4.microdata.html" title="Show AggregateRating snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;StructuredValue
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;ContactPoint
</div>
<div class="example d4">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/PostalAddress/" title="Show PostalAddress markup examples">PostalAddress</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/PostalAddress.rdfa.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/PostalAddress.jsonld" title="Show PostalAddress snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/PostalAddress.microdata.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example2 (<a href="/?url=<%=root%>examples/schema.org/PostalAddress-Example2.rdfa.html" title="Show PostalAddress snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/PostalAddress-Example2.jsonld" title="Show PostalAddress snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/PostalAddress-Example2.microdata.html" title="Show PostalAddress snippet in microdata">microdata</a>)</div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/GeoCoordinates/" title="Show GeoCoordinates markup examples">GeoCoordinates</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/GeoCoordinates.rdfa.html" title="Show GeoCoordinates snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/GeoCoordinates.jsonld" title="Show GeoCoordinates snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/GeoCoordinates.microdata.html" title="Show GeoCoordinates snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/NutritionInformation/" title="Show NutritionInformation markup examples">NutritionInformation</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/NutritionInformation.rdfa.html" title="Show NutritionInformation snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/NutritionInformation.jsonld" title="Show NutritionInformation snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/NutritionInformation.microdata.html" title="Show NutritionInformation snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Organization/" title="Show Organization markup examples">Organization</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Organization.rdfa.html" title="Show Organization snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Organization.jsonld" title="Show Organization snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Organization.microdata.html" title="Show Organization snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/EducationalOrganization/" title="Show EducationalOrganization markup examples">EducationalOrganization</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/EdducationalOrganization.rdfa.html" title="Show EducationalOrganization snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/EdducationalOrganization.jsonld" title="Show EducationalOrganization snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/EdducationalOrganization.microdata.html" title="Show EducationalOrganization snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/NGO/" title="Show NGO markup examples">NGO</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/NGO.rdfa.html" title="Show NGO snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/NGO.jsonld" title="Show NGO snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/NGO.microdata.html" title="Show NGO snippet in microdata">microdata</a>)<a href="#no_snip" title="snippets not optimized for this type">*</a></div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;PerformingGroup
</div>
<div class="example d3">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/MusicGroup/" title="Show MusicGroup markup examples">MusicGroup</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/MusicGroup.rdfa.html" title="Show MusicGroup snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/MusicGroup.jsonld" title="Show MusicGroup snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/MusicGroup.microdata.html" title="Show MusicGroup snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Person/" title="Show Person markup examples">Person</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Advanced (<a href="/?url=<%=root%>examples/schema.org/Person-Advanced.rdfa.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Person-Advanced.jsonld" title="Show Person snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Person-Advanced.microdata.html" title="Show Person snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Person.rdfa.html" title="Show Person snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Person.jsonld" title="Show Person snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Person.microdata.html" title="Show Person snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Place/" title="Show Place markup examples">Place</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Place.rdfa.html" title="Show Place snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Place.jsonld" title="Show Place snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Place.microdata.html" title="Show Place snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/CivicStructure/" title="Show CivicStructure markup examples">CivicStructure</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/CivicStructure.rdfa.html" title="Show CivicStructure snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/CivicStructure.jsonld" title="Show CivicStructure snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/CivicStructure.microdata.html" title="Show CivicStructure snippet in microdata">microdata</a>)</div>
</div>
<div class="example d2">
  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/LocalBusiness/" title="Show LocalBusiness markup examples">LocalBusiness</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/LocalBusiness.rdfa.html" title="Show LocalBusiness snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/LocalBusiness.jsonld" title="Show LocalBusiness snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/LocalBusiness.microdata.html" title="Show LocalBusiness snippet in microdata">microdata</a>)</div>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Example2 (<a href="/?url=<%=root%>examples/schema.org/LocalBusiness-Example2.rdfa.html" title="Show LocalBusiness snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/LocalBusiness-Example2.jsonld" title="Show LocalBusiness snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/LocalBusiness-Example2.microdata.html" title="Show LocalBusiness snippet in microdata">microdata</a>)</div>
</div>
<div class="example d1">
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="/examples/schema.org/Product/" title="Show Product markup examples">Product</a>

<div class="ex">  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Basic (<a href="/?url=<%=root%>examples/schema.org/Product.rdfa.html" title="Show Product snippet in RDFa">RDFa</a> <a href="/?url=<%=root%>examples/schema.org/Product.jsonld" title="Show Product snippet in JSON-LD">JSON-LD</a> <a href="/?url=<%=root%>examples/schema.org/Product.microdata.html" title="Show Product snippet in microdata">microdata</a>)</div>
</div>
