<section class="example content">
  <%
    {:"rdfa.html" => "RDFa", :ttl => "TTL"}.each do |fmt, fmt_name|
      file = File.join(settings.root, "good-relations", "#{name}.#{fmt}")
      next unless File.file?(file)
      path = "#{root}examples/good-relations/#{name}.#{fmt}"
      div = if fmt == :ttl
        File.read(file).force_encoding(Encoding::UTF_8)
      else
        doc = Nokogiri::HTML.parse(File.open(file, "r", 0, :encoding => Encoding::UTF_8))
        doc.at_css("div").to_html
      end
      ex_class = fmt == :ttl ? "n3" : "html"
  -%>
  <section>
    <h2><%= fmt_name %> (<a href="<%= path %>" title="Load <%=fmt_name%> example">source</a> <a href="/?url=<%= path %>" title="Show snippet in <%=fmt_name%>">lint</a>)</h2>
    <pre class="example"><code class="<%=ex_class%>"><%= CGI.escapeHTML(div) %></code></pre>
  </section>
  <% end -%>
</section>
