<div ng-controller="LinterController">
  <div class="lighter">
    <p>
      Enter a URL below to see what structured data your page contains. You can alternatively upload a local file or paste some markup. Read more <a href="/about/">about the Structured Data linter</a>.
    </p>
    <ul class="nav nav-tabs linter">
      <li><a class="url" ng-class="getClass('url')" ng-click="fieldset = 'url'">Lint by URL</a></li>
      <li><a class="upload" ng-class="getClass('upload')" ng-click="fieldset = 'upload'">Lint by File Upload</a></li>
      <li><a class="input" ng-class="getClass('input')" ng-click="fieldset = 'input'">Lint by Direct Input</a></li>
    </ul>
    <form id="linter_input">
      <fieldset class="input-group" ng-show="fieldset === 'url'">
        <legend>Page URL</legend>
        <input class="form-control" size="80" type="text" size="80" ng-model="url"/>
        <input type="submit" ng-click="lintUrl(url)" value="Submit" ng-disabled="fieldset !== 'url'"/>
        <br/>
        <span class="form-examples">Examples:
        <% %w(Review People Event Recipe Product).each do |name| -%>
          <%= name %> (
          <% %w(RDFa MD).each do |fmt|
            file = File.join(settings.root, "google-rs", "#{name.downcase}.#{fmt.downcase}.html")
            next unless File.file?(file)
            path = "#{root}examples/google-rs/#{name.downcase}.#{fmt.downcase}.html"
          -%>
            <a href="" ng-click="lintUrl('<%= path %>')" title="Show <%=name%> snippet in <%=fmt%>"><%=fmt %></a>
          <% end -%>)
        <% end -%>
        </span>
      </fieldset>

      <fieldset class="input-group" ng-show="fieldset === 'upload'">
        <legend>File Upload</legend>
        <input type="file" name="datafile"/>
        <input name="commit" type="submit" value="Submit" ng-disabled="fieldset !== 'upload'" />
      </fieldset>

      <fieldset class="input-group" ng-show="fieldset === 'input'">
        <legend>Markup</legend>
        <textarea class="input form-control" cols="120" rows="15" ng-model="input"></textarea>
        <input type="submit" ng-click="lintInput(input)" value="Submit" ng-disabled="fieldset !== 'input'" />
      </fieldset class="input-group">

      <fieldset>
        <legend>Options</legend>
        <label for="validate-ssl">Validate SSL</label>
        <input name="validate-ssl" type="checkbox"  ng-model="validateSSL" />
      </fieldset>
    </form>
  </div>

  <div class="snippet" ng-show="result">
    <h2>Enhanced search result preview</h2>
    <p><em><small>Disclaimer: this preview is only shown as a example of what a search engine <strong>might</strong> display. It is to the discretion of each search engine provider to decide whether your page will be displayed as an enhanced search result or not in their search results pages.</small></em></p>
    <p ng-show="!result.snippet">The data did not match any templates on file.
      Submit a request to the <a href="http://groups.google.com/group/structured-data-dev">mailing list</a>
      to request support for additional templates.</p>
    <div ng-bind-html="result.snippet">
    </div>
  </div>

  <div class="results" ng-show="result">
    <h2>Raw structured data extracted from the page:</h2>
    <p ng-show="!result.html">No structured data detected.</p>
    <div ng-bind-html="result.html"></div>
  </div>

  <div ng-show="result.statistics">
    <table class="stats">
      <tbody>
        <tr><td>Statements:</td><td>{{result.statistics.count}}</td></tr>
        <tr ng-repeat="template in result.statistics.templates">
          <td>Template:</td><td>{{template}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="result.messages">
    <h2>Linter Messages</h2>
    <p ng-repeat="message in result.messages">
      {{message}}
    </p>
  </div>

  <div ng-show="result.debug">
    <h2>Debug Information</h2>
  <textarea rows="20" cols="120">
    {{result.debug}}
  </textarea>
  </div>
</div>
