<section class="example content">
  <%
    {:rdfa => "RDFa", :md => "Microdata"}.each do |fmt, fmt_name|
      file = File.join(settings.root, "google-rs", "#{name.downcase}.#{fmt}.html")
      next unless File.file?(file)
      path = "#{root}examples/google-rs/#{name.downcase}.#{fmt}.html"
      doc = Nokogiri::HTML.parse(File.open(file))
      div = doc.at_css("div")
  -%>
  <section>
    <h2><%= fmt_name %> (<a href="<%= path %>" title="Load <%=fmt_name%> example">source</a> <a href="/?url=<%= path %>" title="Show snippet in <%=fmt_name%>">lint</a>)</h2>
    <pre class="example"><code class="html"><%= CGI.escapeHTML(div.to_html) %></code></pre>
  </section>
  <% end -%>
</section>
